/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.form-horizontal.form-fun .control-label {
    text-align: left;
    margin-bottom: 6px;
}

.txt-right{
    text-align: right;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  display: inline-block;
}
.rating > span {
  display: inline-block;
  position: relative;
    width: 1.4em;
    font-size: 2em;
    font-family: Times;
    cursor: pointer;
    cursor: hand;
}
.rating:not(.block) > span:hover,
.rating:not(.block) > span:hover ~ span,
.rating > span.active,
.rating > span.active ~ span{
  color: transparent;
}
.rating:not(.block) > span:hover:before,
.rating:not(.block) > span:hover ~ span:before,
.rating > span.active:before,
.rating > span.active ~ span:before{
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
   width: 100%;
}


.services h3{
    text-align: center;
    margin: 40px 0 20px;
}

.services h3:first-child{
    margin-top: 0;
}


form.services .row:nth-child(even){
    background-color: #eee;
}

.print_container{
    display: none;
}

@media screen and (min-width: 768px){
    .modal-dialog.modal-sm {
        width: 400px!important;
    }
}

@media print{

    @page { 
        size: auto; 
        margin: 12mm 8mm 12mm 8mm;  
    } 

    html,body{
        height: 100%;
        margin: 0px;
        padding: 0;
    }

    .page_print{
        page-break-before: always;
    }

    .modal{
        display: none!important;
    }

    .main-content > *, .sidebar-menu{
        display: none;
    }

    .print_container{
        display: block;
    }

    .main-content{
        padding: 0;
    }

    .form-control{
       padding: 2px 4px;
       height: 22px;
    }

    .rating > span{
      width: 1em;
      font-size: 1.8em;
    }

    .envelope{
        position: relative;
        height: 100%;
        display: block;
    }

    .envelope .page_print{
        position: absolute;
        bottom: 0;
        border-left: 1px solid #000;
        padding-left: 10px;
    }

    .envelope span{
        display: inline-block;
        vertical-align: top;
        padding-left: 4px;
    }
}
