/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.form-horizontal.form-fun .control-label {
    text-align: left;
    margin-bottom: 6px;
}

.txt-right{
    text-align: right;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  display: inline-block;
}
.rating > span {
  display: inline-block;
  position: relative;
    width: 1.4em;
    font-size: 2em;
    font-family: Times;
    cursor: pointer;
    cursor: hand;
}
.rating:not(.block) > span:hover,
.rating:not(.block) > span:hover ~ span,
.rating > span.active,
.rating > span.active ~ span{
  color: transparent;
}
.rating:not(.block) > span:hover:before,
.rating:not(.block) > span:hover ~ span:before,
.rating > span.active:before,
.rating > span.active ~ span:before{
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
   width: 100%;
}


.services h3{
    text-align: center;
    margin: 40px 0 20px;
}

.services h3:first-child{
    margin-top: 0;
}


form.services .row:nth-child(even){
    background-color: #eee;
}

.print_container{
    display: none;
}

.modal .form-horizontal label{ 
    text-align: left;
}

.modal .form-horizontal .form-group{ 
    font-size: 12px;
}

.modal .form-horizontal .row {
    font-size: 0;
}

.modal .form-horizontal .row > div{
    float: none;
    display: inline-block;
    vertical-align: bottom;
}

.modal .form-horizontal > .row:nth-child(even) {
    background-color: #eee;
}

.modal .form-horizontal .form-group{
    margin-top: 15px;
}

[data-tooltip]{
    position: relative;
}

[data-tooltip][disabled]{
    cursor: not-allowed;
    background: gray;
    color: #cecece;
}

[data-tooltip][disabled]:hover:before{
    content: attr(data-tooltip);
    position: absolute;
    width: 150px;
    bottom: 32px;
    left: 50%;
    margin-left: -75px;
    color: #fff;
    text-shadow: 0 0 10px #000;
    padding: 6px;
    background: #cecece;
}

[data-tooltip][disabled]:hover:after{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-top: 10px solid #cecece;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.msgs_container p{
    color: #000;
    font-size: 14px;
    text-align: right;
}

.msgs_container p.error{
    color: red;
}

.cell-top{
    vertical-align: top!important;
}

ul.ui-autocomplete{
    z-index: 1100;
}

@media screen and (min-width: 768px){
    .modal-dialog.modal-sm {
        width: 400px!important;
    }
}

@media print{

    @page { 
        size: 320pt; 
        margin: 0mm 8mm 0mm 8mm;  
        /*margin: 0;  */
    } 

    html,body{
        height: auto;
        margin: 0px;
        padding: 0;
    }

    .page_print{
       height: 300pt;
    }



    .page_print:last-child {
         page-break-after: auto;
    }


    .modal{
        display: none!important;
    }

    .main-content > *, .sidebar-menu{
        display: none;
    }

    .print_aux ~ *{display:none;}

    .print_container{
        display: block;
    }

    .print_header{
      text-align: center;
      margin-bottom: 15px;
    }

    .print_header h3{
        font-size: 16px;
        margin-bottom: 0;
    }

   .print_container .print_header p{
      margin-bottom: 0;
    }

    .print_container p{
        margin-bottom: 5px;
        font-size: 10px;
    }

    .main-content{
        padding: 0;
    }

    .form-control{
       padding: 2px 4px;
       height: 22px;
    }

    .rating > span{
      width: 1em;
      font-size: 1.8em;
    }

    .envelope{
        position: relative;
        height: 100%;
        display: block;
    }

    .envelope .page_print{
        position: absolute;
        bottom: 0;
        border-left: 1px solid #000;
        padding-left: 10px;
    }

    .envelope span{
        display: inline-block;
        vertical-align: top;
        padding-left: 4px;
    }
}
